body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    flex-direction: column;

}

/*Main*/
.content-main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

}

/*Content titulo*/
.content-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
   
    color: aliceblue;
    font-size: 20px;
}

/*Input*/
.input-pesos {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    border: none;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(22, 22, 22);
    color: #58a6ff;

}

/*plataformas*/

.content-conversion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.plataformas-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 500px;
    gap: 30px;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;

}

.plataformas {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.plataformas img:hover {
  transform: scale(1.1);
}
.plataformas img {
    margin-left: 9px;
}
.divisa{
    display: flex;
    align-items: center;
    gap: 10px;

}
.divisa img{
    height: 30px;
    transition: 1s;
}

.divisa img:hover{
    transform: rotate( 360deg);
}


/*Footer*/

.footer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px ;
}

.footer img{

    cursor: pointer;
    width: 40px;
    transition: 0.5s;

}

.footer img:hover{
    transform: scale(1.1);
    
}

.planes{
    display: flex;
    font-size: 12px;
    align-items: center;
    text-align: center;
    gap: 10px;
}